@tailwind base;
@tailwind components;
@tailwind utilities;

.forecast {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  width: 100%;
  scrollbar-color: white;
}

/* width */
.forecast::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.forecast::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/* Handle */
.forecast::-webkit-scrollbar-thumb {
  background: rgb(227, 227, 227);
}

/* Handle on hover */
.forecast::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}

.forecast-day-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}